<% if @train.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(train.errors.count, "error") %> prohibited this train from being saved:</h2>

    <ul>
    <% @train.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= form.label :number %>
  <%= form.number_field :number, id: :train_number %>
</div>

<div class="field">
  <%= form.label :current_station, "Текущая станция" %>
  <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
</div>

<div class="field">
  <%= form.label :route_id, "Маршрут" %>
  <%= form.collection_select :route_id, Route.all, :id, :number %>
</div>
