<p id="notice"><%= notice %></p>

<h1>Поезда</h1>

<table border="2">
  <thead>
    <tr>
      <th>Номер</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trains.each do |train| %>
      <tr>
        <td><%= link_to train.number, train %></td>
        <td><%= link_to 'Изменить', edit_train_path(train) %></td>
        <td><%= link_to 'Удалить', train, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый поезд', new_train_path %>
<br>
<%= link_to 'На главную', root_path %>

