<h1>ПОЧТИ КАК ТУТУ</h1>

<%= link_to 'Станции', railway_stations_path  %>
<br>
<%= link_to 'Поезда', trains_path  %>
<br>
<%= link_to 'Маршруты', routes_path  %>
<br>
<%= link_to 'Билеты', tickets_path %>
<br>
<%= link_to 'Пользователи', users_path %>
<br>
<%= link_to 'Вагоны', wagons_path %>
<br>



