<p id="notice"><%= notice %></p>

<h1>Список маршрутов</h1>

<table border="2">
  <thead>
  <tr>
    <th>Номер</th>
    <th></th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @routes.each do |route| %>
    <tr>
      <td><%= link_to route.number, route %></td>
      <td><%= route.railway_stations.first&.title %></td>
      <td><%= link_to 'Изменить', edit_route_path(route) %></td>
      <td><%= link_to 'Удалить', route, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый маршрут', new_route_path %>
<br>
<%= link_to 'На главную', root_path %>

